.inbox-container {
  color: white;
  margin-top: 5em;
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 5em;
  /* background-color: white; */
}
.mail-container {
  color: inherit;
  text-decoration: none;
  border: none;
}

.inbox--sent-mail-container {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  /* margin-block: 0.7em; */
  /* background-color: red; */
  align-items: center;
  /* justify-content: space-between; */
  border: 1px solid white;
  width: 100%;
  height: 7%;
  border-radius: 1em;
  margin-bottom: 1em;
}

.sent-date {
  margin-inline: 1.5em;
}

.recipient-address {
  margin-left: 5em;
}
.received-indicator {
  margin-left: auto;
  margin-right: 1em;
  padding: 0.3em;
  background-color: red;
  border-radius: 0.3em;
}

.sent-indicator {
  margin-left: auto;
  margin-right: 1em;
  padding: 0.3em;
  background-color: green;
  border-radius: 0.3em;
}
.delete-button {
  font-size: 1.5em;
  margin-right: 1em;
}
.delete-button:hover {
  color: rgba(240, 209, 108, 0.9);
}

@media (max-width: 600px) {
  .inbox--sent-mail-container {
    margin-top: 1em;
    font-size: 0.7rem;
  }
  .inbox-container {
    margin-top: 2em;
  }
  .recipient-address {
    margin-left: 0.1em;
  }
}
@media (min-width: 1000px) {
  .sent-indicator,
  .received-indicator {
    margin-left: 0;
  }
  .recipient-address {
    margin-inline: auto;
  }
}
