.navbar {
  display: flex;
  color: rgb(240, 209, 108);
  /* background-color: #0d1116; */
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.title {
  font-size: 2.5rem;
  margin: 2rem;
  margin-top: 1rem;
}
.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.075);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    background: rgba(253, 255, 256, 0);
    backdrop-filter: blur(1rem);
  }
}

.primary-navigation .react-link {
  color: inherit;
  text-decoration: none;
}

.primary-navigation .react-link > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
  display: none;
}

@media (max-width: 35em) {
  .primary-navigation {
    z-index: 1000;
    --gap: 2em;
    color: goldenrod;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url(../../../public/menu-bar.svg);
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    border: 0;
    right: 2rem;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background: url(../../../public/menu-bar-cross.svg);
    background-repeat: no-repeat;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 5vw, 10rem);
  }
  .primary-navigation::after {
    content: "";
    position: absolute;
    right: 0;
    top: 4.2em;
    width: 87%;
    border-bottom: 1px solid white;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.react-link:hover {
  color: white;
}
